body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional: Change the background color if needed */
}

#images-container {
    display: flex;
    border: 5px solid black; /* Thick black border around the group */
    width: auto; /* Let the container size adjust based on its content */
    max-width: 95%; /* Limit the maximum width to prevent overflow */
    align-items: center; /* Center images vertically */
    flex-wrap: nowrap; /* Prevent images from wrapping */
    overflow-x: auto; /* Allow horizontal scrolling if images don't fit */
}

.clickable-image {
    flex: 1 0 auto; /* Allow the image to grow and shrink but not beyond its size */
    max-height: 80vh; /* Limit the image height to a percentage of the viewport height */
    object-fit: contain; /* Ensure full image is shown within its box */
    cursor: pointer;
}

#popup-screen {
    position: fixed; /* Or 'absolute', depending on your layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* Larger text */
    /* Add more styling as needed */
}

.hidden {
    visibility: none;
}

.visible {
    visibility: block;
}

/* Add this to your existing CSS */
.clicked {
    filter: brightness(50%); /* Makes the image darker */
}
