body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#images-container {
    display: flex;
    border: 5px solid black;
    max-width: 100%; /* Ehe container doesn't overflow the viewport width */
    overflow-x: auto; 
    align-items: center;
}

.clickable-image {
    width: 20%; /* Adjust this value based on the number of images and desired size */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area of the element without distorting the image */
}

#popup-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    visibility: hidden; /* Use visibility to show/hide the popup */
}

.hidden {
    display: none; /* This will ensure the element is not visible and does not take up any space */
}

.visible {
    display: flex; /* Assuming you want to keep the flex layout for the popup */
}

.clicked {
    filter: brightness(50%);
}
